body{
    padding: 0;
    margin: 0;
}

#container{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    box-sizing: border-box;
}

#preview{
    width: 70%;
    border: 2px solid grey;
    box-shadow: 0 0 3px grey;
}

#components{
    width: 20%;
    border: 2px solid grey;
    box-shadow: 0 0 3px grey; 
    padding: 0 2%;
    box-sizing: border-box;
    font-weight: 700;
}